<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments :: links">
    <title>Title</title>
</head>

<body>
<div th:replace="header :: header"></div>

<section id="main">
    <div class="row content-margin">
        <div class="col-md-3 col-lg-2">
            <div th:replace="sidebar::sidebar"></div>
        </div>
        <div class="col-md-9 col-lg-10">
            <form th:action="@{'/music_album/add?itemId=' + ${item_id}}" th:object="${music_album}" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <label for="bandName">Nazwa zespołu:</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="bandName" th:field="*{bandName}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="albumName">Nazwa albumu:</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="albumName" th:field="*{albumName}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="publicationDate">Data wydania: </label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="publicationDate" type="date" th:field="*{publicationDate}">
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <label for="carrier">Nośnik:</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="carrier" th:field="*{carrier}">
                            <option th:value="CD">CD</option>
                            <option th:value="DVD">DVD</option>
                            <option th:value="vinyl">Vinyl</option>
                            <option th:value="kaseta_magnetofonowa">Kaseta magnetofonowa</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-3 col-md-5">
                        <input class="form-control" type="submit" value="Dodaj ogłoszenie">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:replace="fragments::scripts"></div>
</body>

