<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>

<body>
<div th:fragment="sidebar">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-end px-3 mt-4 mb-1 text-muted">
                        KATEGORIE
                    </h6>
                    <ul class="nav flex-column mb-3">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/auction/list/category/mobile_phone}">
                                <span data-feather="smartphone"></span>
                                Telefony komórkowe
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/auction/list/category/laptop}">
                                <span data-feather="book"></span>
                                Laptopy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/auction/list/category/music_album}">
                                <span data-feather="disc"></span>
                                Muzyka
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/auction/list/category/video_game}">
                                <span data-feather="crosshair"></span>
                                Gry
                            </a>
                        </li>
                    </ul>


                    <ul class="nav nav-down flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/rules}">
                                <span data-feather="file-text"></span>
                                Regulamin
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">
                                <span data-feather="phone"></span>
                                Kontakt
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/faq}">
                                <span data-feather="info"></span>
                                FAQ
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>