<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: links">
    <title>Title</title>
</head>

<body>

<div th:replace="header :: header"></div>

<section id="main">
    <div class="row content-margin">
        <div class="col-md-3 col-lg-2">
            <div th:replace="sidebar::sidebar"></div>
        </div>
        <div class="col-md-9 col-lg-10">
            <form th:action="@{'/console/add?itemId=' + ${item_id}}" th:object="${console}" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <label for="name">Nazwa:</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="name" th:field="*{name}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="dateOfProduction">Data produkcji</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="dateOfProduction" type="date" th:field="*{dateOfProduction}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="isNew">Nowy czy używany?</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="isNew" th:field="*{isNew}">
                            <option th:value="true">Nowy</option>
                            <option th:value="false">Używany</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="isWarranty">Czy posiada gwarancję?</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="isWarranty" th:field="*{isWarranty}">
                            <option th:value="true">Tak</option>
                            <option th:value="false">Nie</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-5">
                        <input class="form-control" type="submit" value="Dodaj ogloszenie">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:replace="fragments::scripts"></div>
</body>
