<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments :: links">
</head>
<body>

<div th:replace="header :: header"></div>

<section id="main">
    <div class="row content-margin">
        <div class="col-md-3 col-lg-2">
            <div th:replace="sidebar::sidebar"></div>
        </div>
        <div class="col-md-9 col-lg-10">
            <div id="demo" class="carousel slide offset-1 col-md-10 mx-auto" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="https://www.fifacoinszone.com/fifacoinszone-new/upload/image/20180910/20180910103311_55690.jpg">
                        <div class="carousel-caption">
                            <!--<h3>Los Angeles</h3>-->
                            <!--<p>We had such a great time in LA!</p>-->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="https://cdn.gamer-network.net/2017/usgamer/Battlefield-1-Xbox-One-Bundle-from-Microsoft.jpg">
                        <div class="carousel-caption">
                            <!--<h3>Chicago</h3>-->
                            <!--<p>Thank you, Chicago!</p>-->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="https://ecsmedia.pl/c/marvel-s-spider-man-edycja-specjalna-b-iext52971125.jpg" alt="Spiderman">
                        <div class="carousel-caption">
                            <!--<h1>Spiderman</h1>-->
                            <!--<p>Special Edition!</p>-->
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<div sec:authorize="hasRole('NONE')">
    <script>
        window.alert("Sprawdź swój e-mail i aktywuj konto!");
        location.href = "/logout";
    </script>
</div>



<div th:replace="fragments::scripts"></div>
</body>
</html>